.btnStyle{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.movieList{
  margin-top: 50px;
  
}
.imgStyle{
height: 18rem;
}
.nameStyle {
  text-align: center;
}
.add{
  margin-left: 20px;
}
.rating{
 margin-top: 20px;
 margin-left: 20px;
}